* {	
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
	width: 100%;
}
header {
	width: 100%;
	height: 100px;
	background: #444;
}
header a {
	color: #fff;	
}
#list {
	width: 900px;
	height: 1000px;
	margin: 100 auto;
	background: #dedede;
}
.element {
	width: 880px;
	height: 100px;
	margin: 8px;
	border: 1px solid #fff;
	background: #333;
	color:#fff;
}
#edit {
	padding: 5px;
}
.editoverlay a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}